@media (min-width:1530px){
.container-pd{ padding:0px 40px;}
.container-1670{max-width:1670px; margin:0px auto;}
.container{ padding:0px 70px;max-width:1640px;}
}
.home_slider .slick-dots{position:absolute;bottom:10px;left:0;right:0;height:34px;}
.home_slider .slick-slide>div{line-height:0px;}
.home_slider .slick-arrow{ background-color:rgba(255, 255, 255, 0.5);width:26px;}
.home_slider .slick-prev svg{ margin-left:0px;}
.home_slider .slick-next svg{ margin-right:0px;}

@media (max-width:767px){.home_slider {aspect-ratio:1.27/1;}}

.home_slider .hmbanner, .dealday-slider .product, .gallery-slider .product, .popularbrands-content .product, .happyman .box, .beautytips .beautybanner, .instagram-slider .insbanner{position: relative;}
.home_slider .hmbanner:not(:first-child){display:none;}
#hero-slider picture:not(:first-child){display: none;}
.dealday-slider .product:not(:first-child){display:none;}
.gallery-slider .product:not(:first-child){display:none;}
.popularbrands-content .product:not(:first-child){display:none;}
.happyman .box:not(:first-child){display:none;}
.beautytips .beautybanner:not(:first-child){display:none;}
.instagram-slider .insbanner:not(:first-child){display:none;}
.beautyquizzes.fxheight{min-height:355px;}

/* sales */
.sales{background-color:var(--twilight);}
.sales ul{margin:0px auto;list-style:none;display:flex;gap:20px;align-items:center;justify-content:space-between;padding:24px 15px;max-width:1430px;min-height:66px;}
.sales ul li{position:relative;padding-left:34px;font-size:1.143em;font-weight:300;color:var(--white);line-height:18px;}
.sales ul li svg{fill:var(--white);position:absolute;left:0px;top:50%;transform:translate3d(0px, -50%, 0px);}
@media (max-width:991px){.sales ul{align-items:start;}.sales ul li{padding-left:0px;text-align:center;font-size:1.000em;line-height:16px;padding-top:35px;}
.sales ul li svg{left:50%;top:0px;transform:translate3d(-50%, 0, 0px);}}
@media (max-width:767px){.sales ul{gap:10px;padding:15px;}.sales ul li{font-size:0.857em;line-height:13px;}}
/* Beautyquizzes */
.beautyquizzes{background-color:var(--surf-crest);padding:52px 15px;text-align:center;min-height:354px;}
.beautyquizzes h2{font-weight:300;text-transform:uppercase;}
.beautyquizzes h2, .beautyquizzes .loop{ margin-bottom:30px;}
.beautyquizzes .loop{display:grid;grid-template-columns:1fr 1fr 1fr 1fr 1fr;gap:20px;margin-left:auto;margin-right:auto;max-width:1080px;}
.beautyquizzes .bqitem{text-align:center;}
.beautyquizzes .bqitem svg{fill:var(--black);}
.beautyquizzes .bqitem .text{font-size:1.143em;line-height:26px;padding-top:16px;}
.beautyquizzes .btn-border{min-width:210px;}
@media (max-width:991px){
.beautyquizzes{padding:44px 15px;min-height:302px;}
.beautyquizzes h2, .beautyquizzes .loop{ margin-bottom:25px;}
.beautyquizzes .loop{gap:15px;}
.beautyquizzes .bqitem svg{width:45px;height:45px;}
.beautyquizzes .bqitem .text{font-size:1.000em;line-height:18px;padding-top:14px;}}
@media (max-width:767px){
.beautyquizzes{padding:38px 15px;min-height:inherit;}
.beautyquizzes h2, .beautyquizzes .loop{ margin-bottom:20px;}
.beautyquizzes .loop{gap:10px;}
.beautyquizzes .bqitem svg{width:40px;height:40px;}
.beautyquizzes .bqitem .text{font-size:0.857em;line-height:16px;padding-top:12px;}}

/* Deal Of The Day */
@keyframes fadein{0%{opacity:0}to{opacity:1}}@keyframes scaleup{0%{transform:scale(.8)}to{transform:scale(1)}}

.dealday{display:flex;gap:30px;text-align:center;flex-direction:column;}
.dealday h4{font-weight:300;}
.dealday .dealday-slider .product_thumb img{width: auto!important;}
@media (max-width:991px) {.dealday{gap:20px;}}
@media (max-width:767px) {.dealday{gap:15px;}}

.dealday-slider{position:relative;width:100%;height:auto;}
.dealday-slider .slick-track{height:100%; margin: 0;}
.dealday-slider .slick-slide{position:relative;transition:right .3s; height:100%;}
.dealday-slider .slick-slide>div{position:relative;width:100%;height: 100%;}

.dealday-slider .slick-slide:not(.slick-current) .product_thumb img{opacity: 0.5;}

/*Product*/
.dealday-slider .product{max-width:inherit;top:50%;transition:all .3s;display:inline-block;position:absolute;line-height:0;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);}
.dealday-slider .product_thumb{display:block;text-align:center;position:relative;}
.dealday-slider .product_thumb img{width:100%;}
.dealday-slider .slick-slide.slick-center .product{ z-index:3; left:inherit !important; right:inherit !important; margin-left: inherit !important; margin-right: inherit !important;}

.dealday_detail{ max-width: 420px; margin:0px auto; padding:15px 15px 0px 15px;}
.dealday_detail .product_tx{color:var(--cloudy-grey);font-size:1.000em;line-height:22px; min-height:22px;}
.dealday_detail .product_name{font-weight:500;font-size:1.000em;line-height:22px;display:inline-block;color:var(--black);text-decoration:none; min-height:44px;}
.dealday_detail .product_price{display:flex;gap:25px;align-items:center;justify-content:center;padding:15px 0px;}
.dealday_detail .product_price .old-price{color:var(--cloudy-grey);font-size:1.286em;line-height:18px;}
.dealday_detail .product_price .deal-price{color:var(--orange);font-size:1.286em;line-height:18px;}
@media (max-width:991px) {.dealday_detail .product_price{gap:20px;}}
@media (max-width:767px) {.dealday_detail .product_price{gap:10px;}}


@media (min-width:992px){
.dealday-slider .slick-arrow{z-index:1; background-color: transparent;width:40%;height:100%;margin:0;transition:cursor 0.3s;}
.dealday-slider .slick-arrow svg, .dealday-slider .slick-arrow:before{ display:none;}
.dealday-slider .slick-prev{left:0;cursor:url(../images/dsarrow-left.png) 32 32, auto;}
.dealday-slider .slick-next{right:0;cursor:url(../images/dsarrow-right.png) 32 32, auto;}
}
@media (max-width:991px){
.dealday-slider .slick-arrow{width:26px;background-color: #fff; top:50%;}
.dealday-slider .slick-arrow.slick-prev svg{ margin-left:0px;}
.dealday-slider .slick-arrow.slick-next svg{ margin-right:0px;}
}

@media (min-width:320px){
.dealday-slider.fxheight{min-height:220px;}
.dealday-slider .slick-list{height:220px;}
.dealday-slider .slick-slide.slick-center .product{width:220px !important;}
.dealday-slider .slick-slide .product{width:180px !important;}
.dealday-slider .slick-slide.slick-active .product{left:-60px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active .product{left:inherit;right:-243px;}
}
@media (min-width:576px){
.dealday-slider.fxheight{min-height:230px;}
.dealday-slider .slick-list{height:230px;}
.dealday-slider .slick-slide.slick-center .product{width:230px !important;}
.dealday-slider .slick-slide .product{width:160px !important;}
.dealday-slider .slick-slide.slick-active .product{left:80px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active .product{left:inherit;right:-80px;}
}
@media (min-width:768px){
.dealday-slider.fxheight{min-height:295px;}
.dealday-slider .slick-list{height:295px;}
.dealday-slider .slick-slide.slick-center .product{width:295px !important;}
.dealday-slider .slick-slide .product{width:220px !important;}
.dealday-slider .slick-slide.slick-active .product{left:110px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active .product{left:inherit;right:-110px;}
}
@media (min-width:992px){
.dealday-slider.fxheight{min-height:235px;}
.dealday-slider .slick-list{height:235px;}
.dealday-slider .slick-slide.slick-center .product{width:235px !important;}
.dealday-slider .slick-slide .product{width:175px !important;}
.dealday-slider .slick-slide.slick-active .product{left:87px;}
.dealday-slider .slick-slide.slick-active + .slick-slide.slick-active .product{left:77px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active .product{left:inherit;right:-96px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active + div.slick-slide.slick-active .product{left:inherit;right:-85px;}
}
@media (min-width:1200px){
.dealday-slider.fxheight{min-height:295px;}
.dealday-slider .slick-list{height:295px;}
.dealday-slider .slick-slide.slick-center .product{width:295px !important;}
.dealday-slider .slick-slide .product{width:220px !important;}
.dealday-slider .slick-slide.slick-active .product{left:110px;}
.dealday-slider .slick-slide.slick-active + .slick-slide.slick-active .product{left:96px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active .product{left:inherit;right:-124px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active + div.slick-slide.slick-active .product{left:inherit;right:-110px;}
}
@media (min-width:1530px){
.dealday-slider.fxheight{min-height:352px;}
.dealday-slider .slick-list{height:352px;}
.dealday-slider .slick-slide.slick-center .product{width:352px !important;}
.dealday-slider .slick-slide .product{width:264px !important;}
.dealday-slider .slick-slide.slick-active .product{left:115px;}
.dealday-slider .slick-slide.slick-active + .slick-slide.slick-active .product{left:107px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active .product{left:inherit;right:-148px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active + div.slick-slide.slick-active .product{left:inherit;right:-133px;}
}
@media (min-width:1750px){
.dealday-slider.fxheight{min-height:400px;}
.dealday-slider .slick-list{height:400px;}
.dealday-slider .slick-slide.slick-center .product{width:400px !important;}
.dealday-slider .slick-slide .product{width:300px !important;}
.dealday-slider .slick-slide.slick-active .product{left:150px;}
.dealday-slider .slick-slide.slick-active + .slick-slide.slick-active .product{left:132px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active .product{left:inherit;right:-165px;}
.dealday-slider .slick-slide.slick-active.slick-center + div.slick-slide.slick-active + div.slick-slide.slick-active .product{left:inherit;right:-150px;}
}


/*wholesaler banner*/
.wholesaler-banner{background-color:var(--orange);display:flex;gap:24px;justify-content:center;align-items:center;padding:35px 15px;}
.wholesaler-banner .big-hd{text-transform:uppercase;color:var(--white);font-weight:300;text-align:center; font-size:2.571em; line-height:36px;}
@media (max-width:1199px){.wholesaler-banner .big-hd{font-size:2.429em;line-height:34px;}}
@media (max-width:991px) {
.wholesaler-banner{gap:20px;padding:30px 15px;}
.wholesaler-banner .big-hd{font-size:1.857em;line-height:26px;}
}
@media (max-width:767px) {
.wholesaler-banner{gap:17px;padding:25px 15px;flex-direction:column;}
.wholesaler-banner .big-hd{font-size:1.714em;line-height:24px;}
}

/*Our Happy Customers*/
.happyman{display:flex;gap:20px;}
.happyman .hd{width:25%;gap:20px;background-color:var(--white-smoke);display:flex;align-items:center;flex-direction:column;justify-content:center;}
.happyman .hd h3{text-align:center;}
.happyman .inner{ width:75%;}
.happyman-slick .slick-arrow{ /*width:18px;*/}
.happyman-slick .slick-next{ right:1px;}
.happyman-slick .slick-prev{ left:1px;}
.happyman .box{border:1px solid var(--dark-grey);padding:0px 22px;font-size:1.000em;line-height:22px;}
.happyman .box-top{padding:20px 0px;}
.happyman .box-bottom{padding:20px 0px;border-top:1px solid var(--dark-grey);display:flex;gap:15px;}
.happyman .box-bottom img{aspect-ratio: 1 / 1;}
@media (max-width:1199px){.happyman .hd{width:33.3333333333%;}.happyman .inner{ width:66.6666666666%;}}
@media (max-width:767px) {
.happyman{flex-direction:column;}
.happyman .hd{gap:10px;width:100%; padding:0px 15px; background-color:transparent;}
.happyman .hd h3 br{ display:none;}
.happyman .inner{ width:100%;}
.happyman .box-top, 
.happyman .box-bottom{padding:15px 0px;}}
@media (max-width:575px){.happyman{grid-template-columns:1fr;}}

/*About HBA Sales*/
.homabo-man{background-color:var(--twilight);}
.homabo{position:relative;/*top:55px;*/color:var(--white);padding:120px 0px 120px 750px;text-align:center; min-height:762px;}
.homabo .linksbb{color:var(--white);border-bottom-color:var(--white);font-size:0.857em;font-weight:500;}
.homabo .linksbb:hover{border-bottom-color:transparent;color:var(--surf-crest);}
.homabo-thumb{position:absolute;left:0px;/*top:-55px;width:41%;*/top:50%; width:623px;transform: translate(0, -50%);}
.homabo-about{display:flex;flex-direction:column;gap:20px;padding-bottom:90px;}
.homabo-about p{margin-bottom:0px;line-height:26px;font-size:1.286em;}
.homabo-rview{display:flex;flex-direction:column;gap:35px;}
.homabo-rview ul{display:flex;justify-content:space-between;margin:0px;padding:0px;list-style:none;}
.homabo-rview-numbar{font-weight:500;font-size:2.286em;line-height:32px;}
.homabo-rview-lebal{font-weight:300;font-size:1.143em;line-height:16px;padding:10px 0px 15px;}
.homabo-verified-link{display:inline-block;color:var(--white);font-weight:500;font-size:1.143em;line-height:16px;}
.homabo-verified-link .svg_verified{fill:var(--white);}
.homabo-verified-link:hover{color:var(--surf-crest);}
.homabo-verified-link:hover .svg_verified{fill:var(--surf-crest);}
.homabo-rview-star{display:flex;align-items:center;gap:10px;}
.homabo-rview-star .svg_ratings{fill:var(--white);}
.homabo-rview-star span{font-size:0.857em;font-weight:500;display:inline-block;line-height:20px;}

@media (max-width:1714px){
.homabo{ padding:95px 0px 95px 600px; min-height:672px;}
.homabo-thumb{ width:550px;}
}
@media (max-width:1629px){}
@media (max-width:1415px){
.homabo{padding:95px 0px 95px 600px; min-height:672px;}
.homabo-thumb{ width:550px;}
.homabo-about{padding-bottom:70px;}
.homabo-about{gap:15px;}
.homabo-rview{gap:28px;}
.homabo-rview-numbar{font-size:2.000em;line-height:28px;}
.homabo-rview-lebal{font-size:1.000em;line-height:14px;padding:7px 0px 12px;}
}
/*@media (max-width:1279px){.homabo{padding:70px 0px 70px 45%;}.homabo-about{padding-bottom:50px;}}*/
@media (max-width:1199px){.homabo{top:0;padding:45px 0px 45px 0px; min-height:inherit;}.homabo-about{padding-bottom:45px;}}
@media (max-width:767px){.homabo{padding:30px 0px;}.homabo-about{gap:10px;}
.homabo-about p{font-size:1.000em;line-height:18px;}.homabo-rview{gap:20px;}.homabo-rview-numbar{line-height:20px;font-size:1.429em;}
.homabo-verified-link{font-size:1.000em;line-height:14px;}.homabo-rview-star{gap:6px;}}
@media (max-width:575px){.homabo-rview ul{flex-direction:column;gap:20px;}.homabo-rview-lebal{padding:6px 0px;}
.homabo-rview-star{justify-content:center;}}
/*HBASales on Instagram*/
.instagram-slider{padding-top:55px;}
.instagram-slider .cm-hd{flex-direction:column;gap:15px;}
@media (max-width:1199px){.instagram-slider{padding-top:0px;}}
@media (max-width:767px){.instagram-slider .cm-hd{gap:10px; align-items:center;}}